<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>xxxx Quiz</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/skeleton.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <script src="../../assets/js/jquery-3.1.0.js"></script>
    <script src="../../assets/js/jquery.rwdImageMaps.min.js"></script>
    <script src="../../assets/js/objects.js"></script>
    <script src="../../assets/js/brainsInBoxes.js"></script>
    <script src="../../assets/js/quiz.js"></script>
    <script src="../../assets/js/preventTextHl.js"></script>
	
	<!-- UPDATE IMAGE FOR EACH MODULE-->
	<style>
		.svg-container {
			background-image:url("section-assets/xxxx.png");
	}
	</style>
</head>
<body>
<!--<hr/>-->
<header class="row noselect">
	<div class="two columns" style="background-color: #00274c">
		<img src="../../assets/images/umlogo.png"/>
	</div>

	<div class="eight columns">
		<h1>xxxx Quiz</h1>
	</div>
	<div class="two columns"></div>	
</header>
<main class="container">
    <div class="row">
        <div class="test-data four columns">
            <div class="mobile-center noselect">
                <ol class="test-questions">
                    <li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
					<li><span>Select the <b>xxxx</b></span></li>
                </ol>
                <div class="feedback noselect hidden">
                    <div class="feedback-text"></div>
                    <button class="next">
                        <div class="noselect">Next Question</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="eight columns"> <!--split-border>-->
            <div class="svg-container mobile-center">
                <svg viewBox="0 0 1000 xxxx" preserveAspectRatio="xMidYMid meet">

                    XXXXXXPASTEFROMMAPXXXXX
					
                </svg>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <table class="u-full-width">
                <tbody>
                <td>
                    <h5 class="noselect">Correct: <span class="correct"></span></h5>
                </td>
                <td>
                    <h5 class="noselect">Incorrect: <span class="incorrect">0</span></h5>
                </td>
                </tbody>
            </table>
        </div>
    </nav>
</main>
            <footer>
				xxxxcitationxxxx
			</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93090636-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>